module ModificationEasyCustomFieldMonths
  module IssuesHelperPatch

    def self.included(base)
      base.extend(ClassMethods)
      base.send(:include, InstanceMethods)

      base.class_eval do

        alias_method_chain :issue_heading, :modification_easy_custom_field_months

      end
    end

    module InstanceMethods

      def issue_heading_with_modification_easy_custom_field_months(issue)
        issue_heading_without_modification_easy_custom_field_months(issue)
      end

    end

    module ClassMethods

    end

  end

end
RedmineExtensions::PatchManager.register_helper_patch 'IssuesHelper', 'ModificationEasyCustomFieldMonths::IssuesHelperPatch'
